<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="https://github.com/Wolnosciowiec" target="_blank">
            <i class="pe-7s-global"></i>
            <p>Project website</p>
        </a>
    </li>
    <li>
        <a href="https://mail.riseup.net" target="_blank">
            <i class="pe-7s-mail"></i>
            <p>Riseup Mail</p>
        </a>
    </li>
    <li>
        <a href="https://pad.riseup.net/" target="_blank">
            <i class="pe-7s-note"></i>
            <p>Pad</p>
        </a>
    </li>
</ul>
</div>
